In [27]:
# 引入数据类型的库
import pandas as pd

# 引入 numpy
import numpy as np

# 引入可视化的库
import matplotlib.pyplot as plt
%matplotlib inline

# 引入机器学习的模型
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [28]:
# 将 titanic 数据读取到内存中，以 pandas 的 DataFrame 储存
titanic_df = pd.read_csv("./train.csv")
test_df    = pd.read_csv("./test.csv")

# 显示训练集的前面的数据
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- **Survived**：是否存活（0代表否，1代表是）
- **Pclass**：社会阶级（1代表上层阶级，2代表中层阶级，3代表底层阶级）
- **Name**：船上乘客的名字
- **Sex**：船上乘客的性别
- **Age**：船上乘客的年龄（可能存在 `NaN`）
- **SibSp**：乘客在船上的兄弟姐妹和配偶的数量
- **Parch**：乘客在船上的父母以及小孩的数量
- **Ticket**：乘客船票的编号
- **Fare**：乘客为船票支付的费用
- **Cabin**：乘客所在船舱的编号（可能存在 `NaN`）
- **Embarked**：乘客上船的港口（C 代表从 Cherbourg 登船，Q 代表从 Queenstown 登船，S 代表从 Southampton 登船）,

In [29]:
# 对数据进行初步处理，因为乘客编号，姓名，与船票编号与是否生存是无关数据
# 所以我们去除这三个数据列
titanic_df = titanic_df.drop(['PassengerId','Name','Ticket'], axis=1)
test_df    = test_df.drop(['Name','Ticket'], axis=1)
titanic_df['Sex'] = titanic_df['Sex'].get_dummies
test_df.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0          892       3    male  34.5      0      0   7.8292   NaN        Q
1          893       3  female  47.0      1      0   7.0000   NaN        S
2          894       2    male  62.0      0      0   9.6875   NaN        Q
3          895       3    male  27.0      0      0   8.6625   NaN        S
4          896       3  female  22.0      1      1  12.2875   NaN        S

In [51]:
X = titanic_df['Age'].fillna('0')
y = titanic_df['Survived']

print y.shape
print len(X)
# print X.head
#clf = SVC()
#clf.fit(X,y)

(891,)
891